#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

BUILD_DIR=$(CURDIR)/build
DEB_DESTDIR=$(CURDIR)/debian/tmp/

release_ver := $(shell lsb_release --release --short)

# Use xdg_install for 16.04 as a workaround for https://bugs.launchpad.net/ubuntu/+source/chromium-browser/+bug/1689825
ifeq ($(release_ver),16.04)
	autostart_method := xdg_install
else
	autostart_method := install-systemd
endif

override_dh_gencontrol:
ifeq ($(release_ver),16.04)
	dh_gencontrol -- -Vopenrazer:dbus-user-session=
else
	dh_gencontrol -- -Vopenrazer:dbus-user-session=dbus-user-session
endif

override_dh_install:
	dh_install --package=openrazer-daemon etc/xdg/autostart/openrazer-daemon.desktop

override_dh_auto_install:
	make ubuntu_install $(autostart_method) DESTDIR=$(DEB_DESTDIR)

override_dh_auto_build:
	dh_auto_build -- lp_all

override_dh_auto_clean:
	$(MAKE) lp_driver_clean

%:
	dh $@ --with-python3
